body {background-color: black; display:flex; justify-content: center; align-items: center;} 

main {
    background-color: brown;
    height: 550px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.dv {
    background-color: rgba(0,0,0,0.2);
    height: 250px;
    width: 250px;
}

.dv div {    
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    height: 200px;
    width: 200px;}
#wc {
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 25px;    
}

#c42 {position: relative; bottom: 150px;}
#c43 {position: relative; bottom: 400px; left: 50px;}
#c44 {position: relative; bottom: 550px; left: 50px;}

#c31 {position: relative; left: 25px;}
#c32 {position: relative; bottom: 150px;}
#c33 {position: relative; bottom: 350px; left: 50px;}

#c21 {position: relative; top: 0; left: 0;}
#c22 {position: relative; bottom: 150px; left: 50px;}