body {
    background-color: black;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: white;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopLcontain {
    background-color: black;
    width: 50px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}
.lights {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
}
.Green {
    animation-name: gFunction;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 3s;
}
.Yellow {
    animation-name: yFunction;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 6s;
}
.Red {
    animation-name: rFunction;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 9s;
}
.All {
    position: absolute;
    top: 2.5px;
    animation-name: allFunction;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: steps(3,end);
}

@keyframes allFunction {
    0% {
        background-color: green;
        translate: 0;
    }
    50% {
        
        /* transform: translateY(42.5px); */
        background-color: yellow;
    }
    100% {
        /* bottom: 2.5px; */
        transform: translateY(127.5px);
        background-color: red
    }
}
/* @keyframes gFunction {
    0% {}
    50% {}
    100% {background-color: green;}
}
@keyframes yFunction {
    0% {}
    50% {}
    100% {background-color: yellow;}
}
@keyframes rFunction {
    0% {}
    50% {}
    100% {background-color: red;}
} */