body {
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#orange {
    border: 0px solid orange;
    background-color: gold;
    width: 400px;
    height: 400px;
}
.s {
    border: 20px solid white;
    height: 280px;
    width: 280px;
}

#Q1 {
    position: relative;
    top: 10px;
    left: 20px;
}
#Q2 {
    position: relative;
    bottom: 260px;
    left: 60px;
}